.shareContainer {
  display: flex;
  min-height: 100%;
  width: 100%;
}
.shareContainer > div {
  flex: 0 1 50%;
}

.shareComponentRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shareComponentLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shareCardWrapper {
  max-width: 300px;
}
.selectFieldWrapper {
  margin-left: 0;
}

.stepperWrapper p {
  color: #fff;
}
