.headerBar {
  flex-direction: column;
}
.headerLogo {
  height: 36px;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .headerBar {
    flex-direction: row;
    margin-left: 0;
  }
}

.headerButtonWrapper {
  align-items: center;
  display: flex;
  margin-left: 1rem;
  padding: 6px 0;
  width: 100%;
}
