.appContentWrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.appContent {
  display: flex;
  margin: auto;
  max-width: 1140px;
  width: 100%;
  flex: 1;
}

.appFooter {
  text-align: center;
}
.appFooter p {
  margin-left: auto;
  margin-right: auto;
}
