.profile {
  padding: 1%;
  width: 100%;
}

.profileCardWrapper {
  margin: 2rem auto;
  max-width: 800px;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 2rem auto;
}

.profileMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileName {
  max-width: 50%;
  flex: 0 1 50%;
  margin: 0 1.5rem;
}

.profileName h2 {
  font-size: 2.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.profileName p {
  margin-bottom: 1rem;
}

.gravatarAvatar {
  border-radius: 50%;
}
